
/* type selectors */

body {
  color: #878787;
  margin: 0;
  font-size: 1em;/*for most browsers 1em = 16px*/
}

h1{
  font-size: 5.625em;/* 90px divided by 16px = 5.625em */
  color: rgba(255,255,255,.5);
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: #48525c;
}

/* ID Selectors */

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px #ffa949 solid;
}

/* Class selectors */

.main-header {
  background-color: #ffa949;
}

.title {
  color: white;
  font-size: 1.625em;/* 26px divided by 16x = 1.625em */
}

.primary-content,
.secondary-content {
  width: 60%;
}

.primary-content {
  text-align: center;
}

.t-border {
  border-top: solid lightgrey 2px;
}

/* PSeudo-Class selectors */

a:link {
  color: rgb(255, 169, 73);
}

a:visited {
  color:lightblue;
}

a:hover {
  color: rgba(255, 169, 73, .4);
}

a:active {
  color: lightcoral;
}

a:focus {
  color:white;
  background-color: orange;
}
