
body {
  color: #878787;
  margin: 0;
}

.main-header {
  background-color: orange;
}

h1{
  font-size: 90px;
  color: white;
}

h2 {
  font-size: 53px;
}

h3 {
  font-size: 20px;
  color: #48525c;
}

.primary-content {
  text-align: center;
}

.t-border {
  border-top: solid lightgrey 2px;
}

#main-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 10px orange solid;
}
